<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
{% block content %}
<h3 align="center"> Details of Academics</h3>
<div class="container">
    <table class="table table-dark table-hover">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name of Institution</th>
            <th scope="col">Stream</th>
            <th scope="col">Board</th>
            <th scope="col">Marks/Grade</th>
            <th scope="col">Year of passing</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <th scope="row">1</th>
            <td>All India Secondary School Examination</td>
            <td>NA</td>
            <td>CBSE</td>
            <td>CGPA: 9</td>
            <td>2012</td>
        </tr>
         <tr>
            <th scope="row">2</th>
            <td>All India Senior School Certificate Examination</td>
            <td>Science</td>
            <td>CBSE</td>
            <td>89.8%</td>
            <td>2014</td>
        </tr>
        <tr>
            <th scope="row">3</th>
            <td>Bachelor of Technology (BTech)</td>
            <td>ECE</td>
            <td>MAKAUT</td>
            <td>DGPA: 9.2</td>
            <td>2019</td>
        </tr>
        </tbody>
    </table>
</div>
{% endblock %}
</body>
</html>