<!DOCTYPE html>
{% extends "base.html" %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>login form</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-2"></div>
        <div class="col-lg-6 col-md-8 login-box">
            <div class="col-lg-12 login-key">
                <i class="fa fa-key" aria-hidden="true"></i>
            </div>
            <div class="col-lg-12 login-title">
                Login to view Data
            </div>

            <div class="col-lg-12 login-form">
                <div class="col-lg-12 login-form">
                    <form method="POST">
                        {{ form.hidden_tag() }}
                        <div class="form-group">
                            {{ form.username.label(class="form-control-label") }} {{ form.username(class="form-control")
                            }}
                        </div>
                        <div class="form-group">
                            {{ form.password.label(class="form-control-label") }} {{ form.password(class="form-control")
                            }}
                        </div>
                        <div class="col-lg-12 loginbttm">
                            <div class="col-lg-6 login-btm login-button">
                                {{ form.submit(class="btn btn-outline-primary") }}
                            </div>
                        </div>
                        <br><br>
                        {% for item in get_flashed_messages() %}
                        <p class="badge bg-primary text-wrap" style="width: 30rem;">{{ item }} </p>
                        {% endfor %}
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
</body>
</html>